<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Competition</ion-title>
    </ion-navbar>
  </ion-header>
<!--Show list of teams and allow them to sign in through the checkmark button -->
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Details
    </ion-list-header>
    <ion-item>
      <ion-icon name="trophy" item-start></ion-icon>
      {{ competition.name }}
    </ion-item>
    <ion-item>
      <ion-icon name="locate" item-start></ion-icon>
      <ion-label text-wrap>
        {{ competition.location }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" item-start></ion-icon>
      <ion-label text-wrap>
        {{ competition.start_date | date: 'MMMM d h:mm a'}} - {{ competition.end_date | date: 'MMMM d h:mm a'}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="people" item-start></ion-icon>
      <ion-label>{{ teamTotal }} Teams</ion-label>
    </ion-item>
    <ion-item>
      <button ion-button icon-start block><ion-icon name="checkmark"></ion-icon>Set Default</button>
    </ion-item>
    <ion-item>
      <button ion-button icon-start block><ion-icon name="calculator"></ion-icon>Scores</button>
    </ion-item>
    <ion-item>
      <button ion-button icon-start block><ion-icon name="clock"></ion-icon>Table Times</button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Teams
    </ion-list-header>
    <ion-item *ngFor="let team of teams;" text-wrap>
      <ion-label>
        {{ team.name }}
        <span style="float:right;">{{ team.code }}</span>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="teamTotal == 0">
      <ion-label>
        No teams to display.
      </ion-label>
    </ion-item>
  </ion-list>

