<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <!-- <div *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div> -->
  <ion-row justify-content-center>
  <h4>
    <!-- <img height="30" src="../assets/imgs/botguy.png" style="padding-right:30px"> -->
        KIPR Community App
    <!-- <img height="30" src="../assets/imgs/botguy.png" style="padding-left:30px"> -->
  </h4>
</ion-row>

  <ion-list>
      <p *ngFor="let button of hpbuttons;let i = index;" justify-content-center align-items-center>
        <button ion-button block color="" text-center (click)="buttonSelected(button)">
          {{button.title}}
        </button>
      </p>
  </ion-list>
</ion-content>
