var config = {};

config.privateKey = '/etc/httpd/conf/server.key';
config.certificate = '/etc/httpd/conf/server.cert';
config.host = '0.0.0.0';
config.port = '3000';
config.loggerType = 'dateFile';
config.loggerFileName = 'socketserver.log';
config.logLevel = "debug";

module.exports = config;
