<!--
  Generated template for the CompetitionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Competitions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getCompetitions($event)"></ion-searchbar>
  <p icon-start>
    <ion-icon name="information"></ion-icon>
    Click on a Competition name to view more details.
  </p>
  <ion-list inset *ngIf="competitions.length > 0">
    <button ion-item full *ngFor="let competition of competitions" (ionInput)="getCompetitions($event)" (click)="competitionClicked(competition)">
      {{ competition.name }}
    </button>
  </ion-list>
</ion-content>
